# config
config/docker
config/ipython
config/jupyter
config/lvim/plugins
config/mitmproxy
config/mpv/watch_later
config/nvm
config/tmux

# zsh 
zsh/.zfunc/_poetry
zsh/.zfunc/_docker-compose
zsh/.zsh_sessions/
zsh/plugins
zsh/.zcompdump*
zsh/zsh_history
zsh/zsh-secrets
